.dropdown-toggle {
    border:none; /* Remove border bottom */
    width:100%;
    background-color: #369AB0
}

.dropdown, .dropup {
    border-bottom: 1px solid #696969; /* Add bottom border to drop down instead */
}

.dropdown-menu {
    width:100%; /* Make drop down 100% width OPTIONAL */
}

input[type="datetime-local"] {
    width: 465px;
    /* More styles here */
}