<html>
	<head>
		<link rel="stylesheet" href="static/styles/register.css">
	</head>
	<body>
	<h2 style="text-align:center; font-family: Helvetica; font-weight: bold; color: aliceblue;">Register as a new user</h2>
	<form style="text-align:center; color: aliceblue;" action="{{ url_for('register') }}" method="post">
		{% if message is defined and message %}
			<div class="alert alert-warning">{{ message }}</div>
		{% endif %}
		<div style="margin-top: 1em;font-family: Helvetica;" class="form-group">
			<label for="username">Username:</label>
			<input type="text" class="form-control" id="username" name="username" placeholder="Enter name">
		</div>
		<div style="margin-top: 1em;font-family: Helvetica;" class="form-group">
			<label for="email">Email:</label>
			<input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
		</div>
		<div style="margin-top: 1em;font-family: Helvetica;" class="form-group">
			<label for="pwd">Password:</label>
			<input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
		</div>  
	
		<button style="margin-top: 1em; font-family: Helvetica; font-weight: bold;" type="submit" class="btn btn-primary">Register</button>		
	</form>
	
	<form style="text-align: center;" action="{{ url_for('login') }}" method="get">
	<button class="btn btn-primary form-submit-button">Login</button>
	</form>
	</body>
</html>
