<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="static/styles/register.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      </head>
    <body>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script>
        $('#exampleModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var recipient = button.data('whatever') // Extract info from data-* attributes
          // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
          // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
          var modal = $(this)
          modal.find('.modal-title').text('New message to ' + recipient)
          modal.find('.modal-body input').val(recipient)
        })
      </script>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="tasks">To-Do App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="tasks">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="analysis">Stats</a>
            </li>
          </ul>
          <span class="navbar-text">
            Your personal productivity assistant.
          </span>
        </div>
        <div class="logo-image">
          <img src="static/to-do-list.png" class="img-fluid">
        </div>
        <a href="login" style="margin-left: 0.5em; color: #2A7889;" type="button" class="btn-default btn-lg">
          <i class="fa fa-arrow-circle-right"></i> Logout
        </a>
      </nav>
      <div class="container">
        <div class="row">
          <div class="col">
            1 of 3
          </div>
          <div style="text-align: center;" class="col-6">
            <h2 style="margin-top: 0.5em; margin-bottom: 0.5em; color: aliceblue; display: inline-block;">Your Tasks</h2>
          </div>
          <div style="text-align: center;" class="col">
            <button style="margin-top: 0.5em; margin-bottom: 0.5em;" type="button" class="btn btn-primary ml-auto" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Create A New Task</button>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-dark table-hover table-striped">
          <thead>
            <tr>
              <th style="width: 7.5%;">Task ID</th>
              <th style="width: 10%;">Title</th>
              <th style="width: 10%;">Description</th>
              <th style="width: 10%;">Status</th>
              <th style="width: 10%;">Deadline</th>
              <th style="width: 10%;">Creation</th>
              <th style="width: 10%;">Completion</th>
              <th style="width: 10%;">Task Type</th>
              <th style="width: 7.5%;">Edit Task</th>
              <th style="width: 7.5%;">Finish Task</th>
              <th style="width: 7.5%;">Delete Task</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Row 1 Column 1</td>
              <td>Row 1 Column 2</td>
              <td>Row 1 Column 3</td>
              <td>Row 1 Column 4</td>
              <td>Row 1 Column 5</td>
              <td>Row 1 Column 6</td>
              <td>Row 1 Column 7</td>
              <td>Row 1 Column 8</td>
              <td><button class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</button>
              <td><button class="btn btn-primary"><i class="fa fa-check"></i> Finish</button>
              <td><button class="btn btn-primary"><i class="fa fa-trash"></i> Delete</button>
            </tr>
            <tr>
              <td>Row 2 Column 1</td>
              <td>Row 2 Column 2</td>
              <td>Row 2 Column 3</td>
              <td>Row 2 Column 4</td>
              <td>Row 2 Column 5</td>
              <td>Row 2 Column 6</td>
              <td>Row 2 Column 7</td>
              <td>Row 2 Column 8</td>
              <td><button class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</button>
              <td><button class="btn btn-primary"><i class="fa fa-check"></i> Finish</button>
              <td><button class="btn btn-primary"><i class="fa fa-trash"></i> Delete</button>
            </tr>
          </tbody>
        </table>
      </div>  
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Create a New Task</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Title:</label>
                  <input type="text" class="form-control" id="recipient-name">
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Description:</label>
                  <textarea class="form-control" id="message-text"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Create</button>
            </div>
          </div>
        </div>
      </div>   
    </body>
</html>